.display_flex{
    display: flex;
}
.flex{
    flex: 1;
}
.txt_center{
    text-align: center;
}
.txt_right{
    text-align: right;
}
.bg_color_1{
    background-color:rgba(212, 255, 211, 0.3);
}
.bg_color_2{
    background-color:rgba(216, 244, 232, 0.3);
}
.bg_color_3{
    background-color:rgba(244, 242, 216, 0.3);
}
.bg_color_4{
    background-color:rgba(255, 0, 0, 0.05);
}
.m_0_-5{
    margin:0px -5px;
}
.m_0_5{
    margin:0px 5px;
}
.p_5{
    padding:5px;
}
.lh_18{
    line-height:18px;
}
.lh_20{
    line-height:20px;
}
.bd-rd_5{
    border-radius:5px;
}
.c_666{
    color:#666;
}
.f_s_20{
    font-size:20px;
}
.f-w-600{
    font-weight: 600;
}
.c_999{
    color:#999;
}
.c_gold{
    color:gold;
}
.c_169600{
    color:#169600;
}
.c_009688{
    color:#009688;
}
.c_ff9c00{
    color:#ff9c00;
}
:deep(.c_ff9c00){
    color:#ff9c00 !important;
}
.c_f00{
    color:#f00;
}
.w_30{
    width:30px;
}
.info_bg_color_red{
    background: linear-gradient(0deg, rgba(255, 255, 255, 1) 0%, rgba(255, 0, 0, 0.05) 100%);
}
.info_bg_color{
    background: linear-gradient(180deg, rgba(255, 255, 255, 1) 0%, rgba(216, 244, 232, 0.3) 100%);
}
.info_bg_color-1{
    background: linear-gradient(0deg, rgba(255, 255, 255, 1) 0%, rgba(216, 244, 232, 0.3) 100%);
}
.info_bg_color_yellow{
    background: linear-gradient(0deg, rgba(255, 255, 255, 1) 0%, rgba(244, 242, 216, 0.3) 100%);
}
.info_bg_color_write{
    background: linear-gradient(0deg, rgba(255, 255, 255, 1) 0%, rgba(255, 255, 255, 1) 100%);
}
.item_info{    
    height: 380px;
    overflow: auto;
}
.yc_info{    
    margin: -10px -10px;
    padding: 5px 5px;
}
.yc_info_item{
    padding: 5px 5px;
    cursor: pointer;
}
.yc_info_item:hover{
    background-color: rgba(255, 0, 0, 0.06);
    border-radius:5px;
}
.fw_600,:deep(.fw_600){
    font-weight:600;
}
