@import url('/@/views/file/css/file.less');
.Indicator{
    margin: 0px;
    padding: 10px;
    background-color: #fff;
}
.file_main_table{
    margin-top: 0px;
}
.search-form_item{
    margin-bottom: 10px;
}
.text-align-right{
    text-align: right;
}
.bg_c_b7058d{
    background-color: #b7058d !important;
}
.bg_c_b7058d:hover{
    background-color: #e000ab !important;
}
.bg_c_f1f1f1{
    background-color: #f1f1f1 !important;
}
.bg_c_f1f1f1:hover{
    background-color: #e1e1e1 !important;
}
.bg_c_e1e1e1{
    background-color: #e1e1e1 !important;
}
.bg_c_e1e1e1:hover{
    background-color: #d1d1d1 !important;
}
.desc{
    color: #333;
}